{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    <div class="d-flex me-5 ms-5 mt-5">
        <table class="table table-hover w-50 ms-auto me-auto">
            <thead>
            <tr>
                <th scope="col">Currency</th>
                <th scope="col">Unit</th>
                <th scope="col">Value</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody class="currencies">
            </tbody>
        </table>
        <div style="width: 50px"></div>
        <table class="table table-hover w-50 ms-auto me-auto">
            <thead>
            <tr>
                <th scope="col">Currency</th>
                <th scope="col">Unit price</th>
                <th scope="col">Amount</th>
                <th scope="col">Value</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for key, myWallet in wallet %}
                <tr>
                    <td>{{ myWallet.currency }}</td>
                    <td class="rates-{{ rates[key].code }}">{{ rates[key].bid }}</td>
                    <td class="my-wallet-amount-{{ myWallet.currency }}">{{ myWallet.amount }}</td>
                    <td class="my-wallet-value-{{ myWallet.currency }}">{{ (rates[key].bid * myWallet.amount) }}</td>
                    <td><button class="btn btn-primary btn-sell {{ myWallet.currency }}" data-currency="{{ myWallet.currency }}"  data-price="{{ rates[key].bid }}" data-amount="{{ myWallet.amount }}">Sell</button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="available-money">{{ money.pLN }}</div>
    </div>
{% endblock %}
